#=== Generic
alias hw='echo hello world'
alias ff='firefox'
alias nuke='rm -rf'
alias ok='echo -n'
alias smile='em slightly_smiling'

#=== npm
alias fnpm='rm -rf node_modules package-lock.json && npm i'
alias npmr='npm run'
alias npmi='npm i'

#=== Python
alias pe='pipenv'
alias pes='pipenv shell'

#=== git
alias what='ls -la && git status'
alias gits='git s'
alias gitwsl='git config core.filemode false && git config core.autocrlf true'

#=== Docker
alias d='docker'
alias dps='docker ps'
alias dc='docker-compose'
alias dcps='docker-compose ps'
alias dcb='docker-compose build'
alias dcu='docker-compose up -d'
alias dcub='docker-compose up -d --build'
alias dcd='docker-compose down'
alias dcdv='docker-compose down -v'
alias dl='lazydocker'

#=== Ubuntu
alias openpls='xdg-open'
alias inst='sudo apt-get install'
alias dimly='xrandr --output eDP-1 --brightness'
alias clip='xclip -sel clip'
alias cpcd='echo $(echo -n "cd " && pwd) | clip'

#=== Typos
alias pyhton='python'
alias mkae='make'
alias 'cd..'='cd ..'
alias cls='clear'

