#=== General-use
alias notify='terminal-notifier -message -title "Terminal Notification" -message'
alias ports='sudo lsof -i -P | grep LISTEN'
alias chrome='open -na "Google Chrome" --args --new-window ""'
alias dl="curl -OL"
alias c="code"

#=== npm
alias n='npm'
alias nr='npm run'
alias ni='npm i'
alias fnpm='rm -rf node_modules package-lock.json && npm i'
alias npmr='npm run'
alias npmi='npm i'
alias rmnm="find . -name 'node_modules' -type d -prune && echo '\nrun rmnmd to delete'"
alias rmnmd="find . -name 'node_modules' -type d -prune -exec rm -rf '{}' +"
#=== yarn
alias y='yarn'
alias yb='yarn build'
alias yd='yarn dev'
alias ys='yarn start'
alias ya='yarn add'
alias yt='yarn test'
alias ytw='yarn test:watch'
alias yl='yarn lint'
alias yf='yarn format'
alias yfc='yarn format:check'
alias yr='yarn remove'
alias yad='yarn add -D'
alias yw='yarn workspace'
alias yu='yarn upgrade-interactive'
alias yul='yarn upgrade-interactive --latest'
#=== bun
alias b='bun'
alias bi='bun i'
alias ba='bun a'
alias bad='bun a -D'
alias bd='bun dev'
alias bb='bun run build'
alias bs='bun start'
alias bt='bun run test'
alias bl='bun lint'
alias bf='bun format'
alias bu='bun update'
alias br='bun run'
#=== pnpm
alias pn='pnpm'
alias pni='pnpm i'
alias pnd='pnpm dev'
alias pnb='pnpm build'

#=== Python
alias pe='pipenv'
alias pes='pipenv shell'

#=== git
alias gits='git s'
alias gitwsl='git config core.filemode false && git config core.autocrlf true'
alias what='pwd && ls -la && git status'

#=== Docker
alias d='docker'
alias dps='docker ps'
alias dc='docker-compose'
alias dcps='docker-compose ps'
alias dcb='docker-compose build'
alias dcu='docker-compose up'
alias dcud='docker-compose up -d'
alias dcub='docker-compose up --build'
alias dcudb='docker-compose up -d --build'
alias dcd='docker-compose down'
alias dcdv='docker-compose down -v'
alias kb='kubectl'

#=== MacOS
alias clip='pbcopy'
alias cpcd='echo $(echo -n "cd " && pwd) | clip'
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"

#=== Ubuntu
alias openpls='xdg-open'
alias inst='sudo apt-get install'
alias dimly='xrandr --output eDP-1 --brightness'
#alias clip='xclip -sel clip'
#alias cpcd='echo $(echo -n "cd " && pwd) | clip'

#=== Typos
alias pyhton='python'
alias mkae='make'
alias 'cd..'='cd ..'
alias nom='npm'
alias yran='yarn'
