[user]
	name = James Vickery
	email = dev@jamesvickery.net
[alias]
	s = status
	a = add
	b = branch
	aa = add -A
	co = checkout
	com = checkout master
	ci = commit
	cim = commit -m
	ciam = commit -a -m
	up = push
	down = pull
	po = push origin
	pom = push origin master
	getsubs = submodule update --init --recursive
	mastersubs = submodule foreach git checkout master
	updatesubs = submodule foreach git pull origin master
	diffc = diff --cached
	fresh = clean -d -x -f
	undocommit = reset HEAD~
	undoci = undocommit
[core]
	editor = vim
[push]
	default = simple
