[user]
	name = James Vickery
	email = dev@jmsv.me
[alias]
	s = status
	a = add
	b = branch -vv
	ba = branch --all
	aa = add -A
	co = checkout
	cob = checkout -b
	com = checkout main
	cos = checkout staging
	ci = commit
	cim = commit -m
	ciam = commit -a -m
	rv = remote -v
	up = push
	down = pull
	po = push origin
	f = fetch
	fa = fetch --all
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ch = cherry-pick
	sub = submodule
	subs = submodule
	subf = submodule foreach
	subinit = submodule update --init --recursive
	subm = submodule foreach git checkout master
	subpull = submodule foreach git pull
	diffc = diff --cached
	fresh = clean -dxf
	undocommit = reset HEAD~
	undoci = reset HEAD~
	uci = reset HEAD~
	fuck = commit --amend
	pullx = !git stash && git pull && git stash pop
	pom = pull origin main
	pushu = push -u
	pushuo = push -u origin
	chp = cherry-pick
	st = stash
	stu = stash -u
	stp = stash pop
[core]
	editor = vim
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[checkout]
	defaultRemote = origin
[diff "lockb"]
	textconv = bun
	binary = true
