[user]
	name = James Vickery
	email = dev@jamesvickery.net
[alias]
	s = status
	a = add
	b = branch
	ba = branch --all
	aa = add -A
	co = checkout
	cob = checkout -b
	com = checkout master
	ci = commit
	cim = commit -m
	ciam = commit -a -m
	up = push
	down = pull
	po = push origin
	pom = push origin master
	f = fetch
	fa = fetch --all
	sub = submodule
	subs = submodule
	subf = submodule foreach
	subinit = submodule update --init --recursive
	subm = submodule foreach git checkout master
	subpull = submodule foreach git pull
	diffc = diff --cached
	fresh = clean -d -x -f
	undocommit = reset HEAD~
	undoci = reset HEAD~
[core]
	editor = vim
[push]
	default = simple
